 :root{
    --bg-color:#000;
    --text-color:#fff;
    --font-fam:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

 }
 
 
 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--font-fam);
}
#nav{
    /* border:2px solid red; */
    height:6vh;
    background-color: #000;
    position:sticky;
}
#sub-nav{
    /* border:2px solid red; */
    height: inherit;
    width:65%;
    margin: auto;
}
#sub-nav ol{
    list-style: none;
    color:#f5f5f7;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
    width:990px;
    font-size: 12px;    
}

#sub-nav ol li{
    cursor: pointer;
}
#sec1{
    /* border:2px solid red; */
    height:80vh;
    background-image: url("./images/applebg.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}


#cont1{
    padding-top: 40px;
    text-align: center;
}
 #cont1 h1{
    font-size: 56px;
    font-weight: 600;
    color:var(--text-color);
    align-items: center;
 }

 #cont1 p{
    font-size:24px ;
    font-weight: 400;
    color:var(--text-color);
 }
 #butt1{
    padding: 10px 20px;
    border:none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
  }

  #space1{
    /* border:2px solid; */
    height:2vh;
  }
  #sec2{
    /* border: 2px solid red; */
    height:80vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    background-image: url("./images/iphones.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* height:100%;
    width:100%; */
  }
  #cont2{
    text-align: center;
    padding-top: 70px;


  }
  #cont2 h1{
    font-size: 56px;
    font-weight: 700;
  }

  #cont2 p{
    font-size: 24px;
    font-weight: 400;
  }

  #butt2{
     padding: 10px 20px;
     background-color:blue;
     color:var(--text-color);
     border-radius: 40px;
     border: none;
     font-size: 20px;
     cursor: pointer;
  }
  #butt3{
    padding :10px 20px;
    color:blue;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  #butt3:hover{
    color:var(--text-color);
    background-color:blue;
  }
  #space2{
    /* border:2px solid; */
    height:2vh;
  }
  #sec3{
    /* border:2px solid green; */
    height:80vh;
    background-color: #f5f5f7;
    cursor: pointer;
  }
  #sec3 div{
   text-align: center;
  }
  #sec3 span{
    position: absolute;
    left:500px;
  }
  #space3{
    /* border:2px solid; */
    height:2vh;
  }
  #sec4{
    /* border: 2px solid green; */
    height:80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #div1{
    /* border:2px solid red; */
    height:80vh;
    width:48%;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding-top: 30px;
    background-image: url("./images/ipad.jpg");
    background-position: center;
    cursor: pointer;
  }
  #div1 h3{
    font-size: 40px;
    font-weight: 600;
  }
  #div1 p{
       font-size: 19px;
       font-weight: 400;
  }
  .butt4{
    font-size: 14px;
    font-weight: 400;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding:10px 20px;
    cursor: pointer;
  }
  .butt5{
    font-size: 14px;
    font-weight: 400;
    color:blue;
    border:1px solid blue;
    background-color: var(--bg-color);
    border-radius: 40px;
    padding:10px 20px;
    cursor: pointer; 
  }
  .butt5:hover{
    background-color: blue;
    color:var(--text-color);
  }

  #div2{
    /* border:2px solid red; */
    height:80vh;
    width:48%;
    background-color: #f5f5f7;
    text-align: center;
    padding-top: 30px;
    background-image: url("./images/applelap.jpg");
    background-position: center;
    cursor: pointer;
  }
  #div2 h3{
    font-size: 40px;
    font-weight: 600;
  }
  #div2 p{
    font-size: 19px;
    font-weight: 400;
  }
  .butt6{
    border:1px solid blue;
    color:blue;
    padding:10px 20px;
    border-radius: 40px;

  }
  .butt6:hover{
    cursor: pointer;
    background-color: blue;
    color:var(--text-color);
  }

  #space4{
    /* border: 2px solid ; */
    height:2vh;
  }

  #sec5{
    /* border: 2px solid green; */
    height:80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #div3{
    /* border:2px solid red; */
    height:80vh;
    width:48%;
    background-image: url("./images/manapple.jpg");
    background-position: center;
    text-align: center;
    padding-top: 430px;
    cursor: pointer;
  }

  #div3 h3{
    font-size: 40px;
    font-weight: 600;
  }
  #div3 p{
    font-size: 19px;
    font-weight: 400;
  }

  #div4{
    /* border:2px solid red; */
    height:80vh;
    width:48%;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
    background-image: url("./images/watchapple.jpg");
    background-position: center;
  }
  #div4 h3{
    font-size: 40px;
    font-weight: 600;
  }
  #div4 p{
    font-size: 19px;
    font-weight: 400;
  }
  #div4 h6{
    color:red;
  }
  #space5{
     border:2px solid ;
     height:2vh;
  }
  #sec6{
    /* border: 2px solid green; */
    height:80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #div5{
    /* border:2px solid red; */
    height:80vh;
    width:48%;
    background-image: url("./images/appleatm.jpg");
    background-position: center;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
  }
  #div5 h3{
    font-size: 40px;
    font-weight: 600;
  }
  #div5 p{
    font-size: 19px;
    font-weight: 400;
  }
  #div6{
    /* border:2px solid red; */
    height:80vh;
    width:48%;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
    background-image: url("./images/applephone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #div6 h3{
    font-size: 40px;
    font-weight: 600;
  }
  #div6 p{
    font-size: 19px;
    font-weight: 400;
  }
  #space6{
    /* border:2px solid red; */
    height:2vh;
  }
  #sec7{
    border:2px solid green;
    height:92vh;
  }
  #div7{
    border:2px solid black;
    height:inherit;
    width:83%;
    padding-left: 78px;
    padding-top: 550px;
    margin: auto;
    background-image:url("./images/cricketapple.jpg");

  }
  #div7 p{
    color: var(--text-color);
    font-size:17px ;
    font-weight: 400;
  }
  #butt7{
    font-size:17px ;
    font-weight: 400;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
  }
  #space7{
    border: 2px solid red;
    height:4vh;
  }
  #sec8{
    border:2px solid;
    height:32vh;
  }
   #space8{
    border:2px solid;
    height:10vh;
   }
  #foot1{
    border:2px solid red;
    height: 180vh ;
    background-color: #f5f5f7;

  }
  #foot1 div{
    /* border:2px solid red; */
    height: inherit ;
    width:65%;
    margin: auto;
  }
  #foot1 p{
    padding: 20px 100px 20px 100px ;
    font-size: 13px;
    color:gray;
  }